@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    @apply bg-rose-light
}

@media (prefers-color-scheme: dark) {}

body {
    @apply font-body bg-rose-light text-black
}

h1, h2, h3, h4, h5, h6 {
    @apply mb-4 font-bold font-heading text-black;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-2xl;
}

h4 {
    @apply text-xl;
}

h5 {
    @apply text-lg;
}

h6 {
    @apply text-base;
}

p {
    @apply mb-4;
}

.container {
    @apply mx-auto px-4;
    max-width: 1420px;
}

.section {
    @apply mb-20;
}

.hero {
    overflow: hidden;
    height: 700px;
}

.hero-inner {
    height: 600px;
}